*{
    margin: 0;
    padding: 0;
}

.logoImg {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url("../camarografos.png");
}

.logoImg::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.loguito{
    position: absolute;
}