* {
    margin: 0;
    padding: 0;
}

.headerPage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.addHeader,
.refreshHeader,
.deleteHeader,
.reportHeader,
.helpHeader,
.moreHeader {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.addHeader img,
.refreshHeader img,
.deleteHeader img,
.reportHeader img,
.helpHeader img {
    width: 34px;
    height: 34px;
}

.addHeader p,
.refreshHeader p,
.deleteHeader p,
.reportHeader p,
.helpHeader p {
    opacity: 1;
    text-align: left;
    margin-bottom: 0;
    color: #000000;
    letter-spacing: 0px;
    font: normal normal normal 24px/34px Myriad Pro;
}

.logoHeader {
    width: 42px;
    height: 37px;
}

.gearHeader {
    width: 19px;
    height: 19px;
}

.bellHeader {
    width: 21px;
    height: 20px;
}

.personaHeader {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.moreHeader {
    height: 40px;
    gap: 1rem;
}

.bodyPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.h1Page {
    margin: 1rem;
    text-align: center;
    font: normal normal normal 40px/56px Myriad Pro;
}

.firstTextPage {
    text-align: left;
    width: 1536px;
    height: 24px;
    text-align: center;
    font: normal normal 300 20px/34px Myriad Pro;
}

.tablePage {
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 2rem;
    overflow: hidden;
    width: 95%;
}

.headerTableText {
    text-align: center;
    font: normal normal normal 24px/34px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.trBodyTable {
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
}

.bodyTableText {
    text-align: center;
    font: normal normal 300 24px/34px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    background: #f1f1f1;
}

.idIndicadorTable {
    width: 10%;
}

.bodyTableText:first-child {
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rightTableText {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.iconoHamburguesa {
    width: 60px;
    height: 41px;
}

.bobyButton {
    opacity: 1;
    width: 336px;
    height: 70px;
    display: flex;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    border-radius: 35px;
    justify-content: center;
    font: normal normal normal 25px/35px Myriad Pro;
    background: #FF6F2C 0% 0% no-repeat padding-box;
}

.izqData {
    text-align: left;
    font-size: 1.5rem;
}

.numerosTable {
    position: relative;
    bottom: 1.4rem;
    font-size: 1rem;
}

.circuloTable {
    position: relative;
    top: 1.2rem;
}

.idIndicador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}